[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
requests = "*"
apscheduler = "==3.10.4"
python-telegram-bot = "*"
aiomysql = "*"
pyyaml = "*"
matplotlib = "*"
greenlet = "*"
numpy = "*"
alembic = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
