[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
requests = "*"
apscheduler = "*"
python-telegram-bot = "*"
aiomysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
